
body {
    display:flex;
    flex-direction:column;
    align-items:center;
   
    height:100vh;
    
}
   
.body {
    height:100%;
    width:50%;
    display:grid;
    grid-template-rows: .5fr 4fr 1fr;
    grid-template-columns:1fr;
    justify-content:center;
}
   
.gameboard {
    width:100%;
    grid-row: 2 / 2;
    display:grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: repeat(3,minmax(100px,1fr));
    text-align:center;
    align-items:center;
}

.gameboardCell {
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
}

.gameboardCell:hover {
    display:flex;
    background-color: gray;
}