
body {
    display:flex;
    flex-direction:column;
    align-items:center;
   
    height:100vh;
    
}
   
.body {
    height:100%;
    width:50%;
    display:grid;
    grid-template-rows: .5fr 4fr 1fr;
    grid-template-columns:1fr;
    justify-content:center;
}

.player {
    display:flex;
    justify-content:space-between;
}

form {
    display:flex;
    flex-direction:column;
}
   
.gameboard {
    width:100%;
    grid-row: 2 / 2;
    display:grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: repeat(3,minmax(100px,1fr));
    text-align:center;
    align-items:center;
}

.gameboardCell {
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
    border: 0.1px solid black;
}

.gameboardCell:hover {
    background-color: gray;
}

.reset {
    display:flex;
    justify-content:center;
    align-items:start;
    padding-top:32px;
}

.resetBtn {
    width:200px;
    height:50px;
    font-size:2rem;
    
}

.hide {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:30%;
    font-size:6rem;
    font-weight:900;
    width:600px;
    border:1px solid black;
    border-radius:20px;
    visibility:hidden;
    background-color:white;
    text-align:center;
}

.instructions {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:40%;
    font-size:3rem;
    width:35%;
    text-align:center;
    border:5px solid black;
    padding:16px;
    border-radius:20px;
}
